html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

header {
  height: 450px;
}

.bg {
  background-image: url(../assets/Images/pelota_futbol.jpeg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  background-position: 0px, -800px;
}

#Logo {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.MainTitle {
  visibility: hidden;
}

nav {
  position: absolute;
  top: 250px;
  right:0px; 
  font-size: 12pt;
  color: white;
  font-family: tahoma;
  margin-right: auto; 
  margin-left: auto;
  font-weight: bold;
  background-color: black;
  padding:7px 20px 10px 7px; 
  border: solid 2px black;
  border-radius: 5px 0px 0px 5px;
}

a {
  color: white;
  margin-left: 20px; 
  text-decoration: none;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

#UpcomingEvents {
  font-size: 20pt;
  font-family: helvetica;
  font-weight: bolder;
 text-align: center;
 padding-top: 40px;
}

#AboutNYSL {
  font-size: 20pt;
  font-family: helvetica;
  font-weight: bolder;
 text-align: center;
 padding-top: 40px;
}

#ContactUs {
  font-size: 20pt;
  font-family: helvetica;
  font-weight: bolder;
 text-align: center;
 padding-top: 40px;
}

.Schedule {
  font-family: helvetica;
  margin-left: 10%;
  margin-bottom: 20px;
}

.Schedule h3 {
  font-weight: bold;
  padding-bottom: 5px;
}

.SectionAbout {
  font-family: helvetica;
  margin-left: 10%;
  margin-bottom: 20px;
  position: relative;
}

.SectionAbout h2 {
  font-weight: bold;
  margin-bottom: 5px; 
  margin-top: 0;
  padding-top: 0;
}

.SectionAbout p {
  margin-bottom: 20px;
}



#emaillink {
  margin: 0;
  color: grey;
}

.ContactP {
  font-family: helvetica;
  text-align: center;
  margin-bottom: 10px;
}

.Mission, .Vision, .GeneInfo {
  display: inline-block;
  width: 20%;
  position: absolute;
}

.Mission {
  left: 10%;
}

.Vision {
  left: 37%;
}

.GeneInfo {
  left: 63%;
}


